.container {
  border: none;
  border-radius: 20px;
  /* background-color: white; */
  background-color: #0d6efd;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.5);
  color: white;
  display: inline-block;
  text-align: left;
  overflow: hidden;
  /* transition: .3s; */
  height: 400px;
  width: 300px;
  transition: 0.3s;
  /* flex-grow: 1;
  flex-shrink: 0; */
}
.container:hover {
  transform: scale(1.05);
}

.img {
  height: 270px;
  width: 100%;
  object-fit: cover;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  margin: 20px auto 10px;
}

.description h3 {
  font-size: 18px;
  font-weight: bold;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  .container {
    width: 140px;
    height: 190px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }
  .img {
    height: 100px;
  }
  .description h3 {
    font-size: 8px;
  }
  .footer .viewGift {
    height: 20px;
    font-size: 8px;
  }
}
