@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.backdrop {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.container {
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 100;
}

.header {
  background-color: #0d6efd;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  padding-left: 30px;
  padding-top: 5px;
  height: 4rem;
}

.details {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.img-div {
  margin: 20px;
  width: 30%;
}

.img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.info {
  margin: 20px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  width: 30%;
}

.btns {
  text-align: center;
  width: 20%;
}

.btns button {
  margin-top: 5rem;
  margin-right: 10px;
  margin-left: 10px;
  border: 2px solid #5c9dff;
  border-radius: 10px;
  color: #0d6efd;
  font-size: 25px;
  height: 50px;
  width: 40px;
}

.btns button:hover {
  background-color: #0d6efd;
  color: white;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.footer button {
  border-radius: 10px;
  height: auto;
  width: auto;
  padding: 10px;
}

.save {
  border: none;
  background-color: #0d6efd;
  color: white;
}

.close {
  border: 2px solid black;
  color: black;
}

.save:hover {
  background-color: #5c9dff;
}

.close:hover {
  border: 2px solid white;
  background-color: #0d6efd;
  color: white;
}
@media (max-width: 700px) {
  .container {
    width: 80vw;
  }
  .header {
    font-size: 12px;
    height: auto;
    padding: 10px;
  }
  .img-div {
    margin: 10px;
  }
  .img {
    width: 80px;
    height: auto;
  }
  .info {
    font-size: 10px;
  }
  .btns button {
    font-size: 12px;
    margin-top: 20px;
    padding: 5px;
    height: auto;
    width: auto;
  }
  .footer button {
    font-size: 8px;
    padding: 5px 8px;
  }
}
